<ion-view view-title="ADD MY POI" id="addpoi-view">
  <ion-content ng-class="{expanded:isExpanded}" class="addpoi-content">
    <div class="im-wrapper">
    <div class="list  ">
      <div class="item">
        <span ng-bind="currentLocation.name"></span>
      </div>
      <label class="item item-input item-floating-label">
          <span class="input-label">POI Name</span>
          <input type="text" placeholder="POI Name">
      </label>
      <label class="item item-input item-floating-label">
          <span class="input-label">Tags (Comma seperated)</span>
          <input type="text" placeholder="Add Tags">P
      </label>
      <div class="item item-checkbox">
          <label class="checkbox">
              <input type="checkbox" name="myLocation" ng-model="myPoi.myLocation" ng-change="onMyLocationToggle()">
          </label>
          Take My Current Location
      </div>
      <div class="item hide">
         <input id="pac-input" class="controls" type="text" placeholder="Enter a location">
         <div id="type-selector" class="controls">
           <input type="radio" name="type" id="changetype-address" checked="checked">
           <label for="changetype-address">Addresses</label>
         </div>
      </div>
    </div>
    <div ng-if="map.show">
      <ui-gmap-google-map center='map.center' zoom='map.zoom' pan="true" options="map.options">
        <!--
        <ui-gmap-marker
          coords="locationMarker"
          title="locationMarker.title"
          icon="locationMarker.icon"
          events="locationMarker.events"
          idkey="locationMarker.id" ng-cloak>
            <ui-gmap-window coords="m.location" ng-cloak>
                <div ng-cloak>
                    <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
                    <br>
                </div>
            </ui-gmap-window>
        </ui-gmap-marker>
        -->
      </ui-gmap-google-map>
    </div>
    <div ng-show="!map.show">
      <div class="angular-google-map-empty"></div>
    </div>

    <div class="poi-padding-updown-small">
    <button class="button button-block button-calm ink activated" data-ink-color="#9DEAFF" data-ink-opacity="1">
        ADD THIS AS A POI
    </button>
    </div>
    </div>
  </ion-content>
</ion-view>
