.angular-google-map-container { height: 320px; }
.poi-marker-icon {
  display: block;
  margin: 0 auto;
  height: 30px;
  font-size: 30px;
  color: #078dd8;
}

.poi-padding-updown-small {
  padding: 4px 0;
}

.poi-padding-fullwidth {
  width: 100%;
}
